<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <ion-label class="welcome-label">WELCOME TO <span class="circuit-label"> <br> Circuit</span> </ion-label>

  <ion-button class="register-button" (click)="goToSignup()">Register</ion-button>
  <ion-button class="login-button" (click)="goToLogin()">Login</ion-button>
</ion-content>
