<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-label class="title">Edit Profile</ion-label>
  </div>

  <div class="profile-banner"></div>
  <img class="profile-picture" src="assets/icon/bocchi-za-rokku.jpeg">

  <button class="change-profile-picture-button">
    <img src="assets/icon/pencil.png" alt="">
    <ion-label>Change profile picture</ion-label>
  </button>

  <div class="username-change">
    <ion-label>Username:</ion-label>
    <ion-input class="username-input" placeholder="Bocchi"></ion-input>
  </div>
</ion-content>
