<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-img src="assets/icon/back.png" (click)="goBack()"></ion-img>
    <ion-label class="title">Edit Profile</ion-label>
    <ion-img src="assets/icon/check.png" (click)="saveProfile()"> </ion-img>
  </div>

  <div class="profile-banner"></div>
  <img class="profile-picture" src="assets/icon/bocchi-za-rokku.jpeg">

  <button class="change-profile-picture-button">
    <img src="assets/icon/pencil.png" alt="">
    <ion-label>Change profile picture</ion-label>
  </button>

  <div class="username-change">
    <ion-label class="label-change">Username:</ion-label>
    <ion-input class="input-change" placeholder="Bocchi"></ion-input>
  </div>
  <div class="email-change">
    <ion-label class="label-change">Email:</ion-label>
    <ion-input class="input-change" placeholder="bocchi.hitori@chuu.ne.jp" type="Email"></ion-input>
  </div>
  <div class="password-change">
    <ion-label class="label-change">Password:</ion-label>
    <ion-input class="input-change" placeholder="Password" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </div>
</ion-content>
