<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">

  <div class="header">
    <ion-img src="assets/icon/back.png" (click)="goBack()"></ion-img>
    <ion-label class="title">My Orders</ion-label>
    <ion-img src="assets/icon/check.png"> </ion-img>
  </div>

    <div class="category-tabs">
      <span
        class="category"
        *ngFor="let category of categories"
        [class.active]="selectedCategory === category.id"
        (click)="selectCategory(category.id)"
      >
        {{ category.label }}
      </span>
    </div>

    <div class="content-area">
      <div class="order-item" *ngFor="let product of filteredProducts">
        <div class="item">
          <ion-label class="status">{{ product.status }}</ion-label>
          
          <div class="item-content">
            <img class="product-image" [src]="product.image">

            <div class="product-details">
              <ion-label>
                <span class="product-name">{{ product.name }}</span>
              </ion-label>
              <ion-label class="product-variety">Quantity: {{ getSafeCount(product.count) }}</ion-label>
              <div class="price-and-view-button">
                <ion-label class="product-price">{{ formatPrice(product.price) }}</ion-label>
                <button class="view-product-button">View Product</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
