.title {
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: 0.2px;
    color: black;
    font-size: 16px;

    display: block;
    width: 100%;
    text-align: center;
}

.header {
    background: white;
    padding: 15px;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: row;

    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.05));
}

.header ion-img {
    height: 30px;
    width: 30px;
}

ion-content {
    --background: rgba(255, 255, 255, 0.96);
}

.category-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 28px 10px 10px 10px;
  justify-content: space-between;

  &::-webkit-scrollbar{
    display: none;
  }
}

.category{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  padding: 8px 12px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  
  &.active {
    color: #FF6400;
    font-weight: bold;
    border-bottom: 3px solid #ff6b6b;
  }
  
  &:hover {
    color: #FF6400;
  }
}



.product-name {
    font-family: 'Inter';
    color: black;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    margin-top: 20px;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.order-item  {
    background: white;
    margin: 10px;
    border-radius: 10px;

    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.05));

}

.item-content {
  display: flex;         
  flex-direction: row;
  align-items: stretch;
}

.item {
    display: flex;
    flex-direction: column;   
    background: white;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.05));
}

.product-image {
    height: 110px;
    width: 110px;
    object-fit: cover;
    margin: 20px;
    display: block;
    border-radius: 2px;
}

.product-details {
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    padding: 20px 10px 20px 0;
}

.product-variety {
    color: gray;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.price-and-view-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    width: 100%;
    gap: 10px;
}

.product-price {
    font-family: 'Inter';
    color: red ;
    font-weight: 500;
    font-size: 15px;
}

.view-product-button {
    margin-right: 10px;
    background: skyblue;
    height: 30px;
    width: 100px;
    flex-shrink: 0;
    border-radius: 5px;

    font-family: 'Inter';
    font-weight: 500;
}

.status {
    color: black;

    display: block;
    width: 100%;
    text-align: center;
    margin-top: 7px;

    font-family: 'Inter';
    font-weight: 500;
}