<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap" rel="stylesheet">


<ion-content [fullscreen]="true">
  <ion-label class="login-label">Login</ion-label>

  <ion-input class="email-field" type="email" placeholder="Email" fill="outline"></ion-input>
  <ion-input class="password-field" type="password" placeholder="Password" fill="outline"></ion-input>

  <ion-label class="forgot-password">Forgot password?</ion-label>

  <div style="display: flex; justify-content: center;">
    <ion-button class="login-button" (click)="login()">Login</ion-button>
  </div>

  <div class="or-line">
    <span>or</span>
  </div>

  <div class="other-login">
    <div style="width: 350px;">
      <ion-button class="google-button" (click)="login()">
        Continue with Google
      </ion-button>
    </div>
    <div style="width: 350px;">
      <ion-button class="apple-button" (click)="login()">
        Continue with Apple
      </ion-button>
    </div>
    <div style="width: 350px;">
      <ion-button class="facebook-button" (click)="login()">
        Continue with Facebook
      </ion-button>
    </div>
    <div style="width: 350px;">
      <ion-button class="guest-button" (click)="login()">
        Continue As Guest
      </ion-button>
    </div>
  </div>

  <ion-label class="need-account-label">Need an account? <span class="sign-up-label" (click)="goToSignup()">Sign up</span></ion-label>
</ion-content>
