<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-img class="icon" src="assets/icon/home.png"></ion-img>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-img class="icon" src="assets/icon/cart.png"></ion-img>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wishlist">
      <ion-img class="icon" src="assets/icon/wishlist.png"></ion-img>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">  
      <ion-img class="pfp" src="assets/icon/bocchi-za-rokku.jpeg"></ion-img>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>