<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&display=swap" rel="stylesheet">


<ion-content [fullscreen]="true">

  <div class="header">
    <ion-label class="title">My Cart</ion-label>
  </div>

  <div class="cart-item">

    <div class="item-seller"></div>

    <div class="item" *ngFor="let product of test_product">

      <img [src]="product.image" class="product-image">

      <div class="item-info">
        <ion-label class="product-name">
          <span class="product-name-text">{{ product.name }}</span>
        </ion-label>
        <ion-label class="product-variety">Black</ion-label>
        <ion-label class="product-price">{{ formatPrice(product.price) }}</ion-label>
      </div>

    </div>

    <div class="add-remove-button" *ngFor="let product of test_product">
      <button class="add-button">+</button>
      <ion-label class="product-counter">{{ product.count }}</ion-label>
      <button class="remove-button">-</button>
    </div>

  </div>
</ion-content>
